.containerLoader {
  width: 100%;
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  z-index: 1;
  position: relative;
}

.titleDev {
  color: white;
  font-size: 1rem;
  letter-spacing: 0.5px;
  position: absolute;
  top: 20px;
  z-index: 1;
}

.imgLogo {
  margin-left: 10px;
}

.loader {
  width: 150px;
  height: 14px;
  --c: #00da00 92%, #0000;
  background: radial-gradient(circle closest-side, var(--c)) calc(100% / -4) 0,
    radial-gradient(circle closest-side, var(--c)) calc(100% / 4) 0;
  background-size: calc(100% / 2) 100%;
  animation: l14 1.5s infinite;
  transform: scale(1.3);
}

@keyframes l14 {
  0% {
    background-position: calc(100% / -4) 0, calc(100% / 4) 0;
  }
  50% {
    background-position: calc(100% / -4) -14px, calc(100% / 4) 14px;
  }
  100% {
    background-position: calc(100% / 4) -14px, calc(3 * 100% / 4) 14px;
  }
}


@media (min-width: 850px){
  .containerLoader img{
    width: 350px;
    height: 250px;
  }
}